<strong>Recuperando senha</strong>

<p>Uma solicitação de recuperação de senha foi solicitada para o e-mail ({{email}}).</p>
<p>Para recuperar a senha utilize o token {{token}} ou clique no link abaixo!</p>
<a href="{{link}}">Criar nova senha</a>